.company{
    padding: 0px 120px;
    background-color: $white;
    background-image: url(/img/Background-insight.png);
    background-size: contain;
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1600px){
            flex-direction: column;
            flex-flow: column-reverse;
        }
    }
}

.company__container__textcard{
    display: flex;
    flex-direction: column;
    gap: 48px;
    &__box{
        max-width: 883px;
        min-width: 760px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 37px;
    }
    &__box__desc{
        text-align: left;
        font-family: $robrg;
        font-size: 24px;
    }
    &__module{
        display: flex;
        flex-direction: column;
        gap: 44px;
        .module-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 42px;
            &__svgpick{
                width: 93px;
                height: 93px;
            }
            &__text{
                display: flex;
                flex-direction: column;
                gap: 7px;
                &__label{
                font-family: $rbxtrbld;
                font-size: 26px;
                }
                &__desc{
                    font-family: $robrg;
                    font-size: 24px;
                }
            }
        }
    }
}
