$ismed: "InstrumentSans-Medium", sans-serif;
$isreg: "InstrumentSans-Regular", sans-serif;
$isbold: "InstrumentSans-Bold", sans-serif;
$robld: "RobotoCondensed-Bold", sans-serif;
$ismldbld: "InstrumentSans-SemiBold", sans-serif;
$rbxtrbld: "RobotoCondensed-ExtraBold", sans-serif;
$rbsmbld: "RobotoCondensed-SemiBold", sans-serif;
$robrg: "RobotoCondensed-Regular", sans-serif;
$robmed: "RobotoCondensed-Medium", sans-serif;
$IntBold: "Inter28pt-Bold", sans-serif;
$IntSemBold: "Inter28pt-SemiBold", sans-serif;
$black: #00070B;
$green: #00BD97;
$darkengreen: #002E25;
$boldgreen: #094C3F;
$salat: #BBFF00;
$boloto: #709900;
$white: #FFFFFF;
$sky: #D6FFF7;


@font-face {
    font-family: 'InstrumentSans-Medium';
    src: local('InstrumentSans-Medium')
        url('../fonts/InstrumentSans-Medium.woff2') format('woff2'),
        url('../fonts/InstrumentSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InstrumentSans-Regular';
    src: local('InstrumentSans-Regular')
        url('../fonts/InstrumentSans-Regular.woff2') format('woff2'),
        url('../fonts/InstrumentSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InstrumentSans-Bold';
    src: local('InstrumentSans-Bold')
        url('../fonts/InstrumentSans-Bold.woff2') format('woff2'),
        url('../fonts/InstrumentSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: local('RobotoCondensed-Bold'),
        url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Bold.woff') format('woff');
}

@font-face {
    font-family: 'InstrumentSans-SemiBold';
    src: local('InstrumentSans-SemiBold')
        url('../fonts/InstrumentSans-SemiBold.woff2') format('woff2'),
        url('../fonts/InstrumentSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-ExtraBold';
    src: local('RobotoCondensed-ExtraBold')
        url('../fonts/RobotoCondensed-ExtraBold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-SemiBold';
    src: local('RobotoCondensed-SemiBold')
        url('../fonts/RobotoCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: local('RobotoCondensed-Regular')
        url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoCondensed-Medium';
    src: local('RobotoCondensed-Medium')
        url('../fonts/RobotoCondensed-Medium.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Mediumr.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter28pt-Bold';
    src: local('Inter28pt-Bold')
        url('../fonts/Inter28pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter28pt-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter28pt-SemiBold';
    src: local('Inter28pt-SemiBold')
        url('../fonts/Inter28pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter28pt-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@mixin gradient-text {
    background: linear-gradient(90deg, #bf0 0%, #709900 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

@mixin cardflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
