.nav{
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .bankname{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 17px;
        font-family: $robld;
        font-size: 34px;
        color: $white;
        .logo{
            cursor: pointer;
            &__img{
                @media (max-width: 1480px){
                height: 40px;
                width: 40px;
            }
            }
        }
        @media (max-width: 1480px){
            font-size: 26px;
        }
    }
    &__list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
    }
    &__item{
        cursor: pointer;
        color: $white;
        font-family: $robmed;
        font-size: 24px;
        transition: transform 0.3s;
        &:hover{
            color: $sky;
            transform: scale(1.05);
        }
        @media (max-width: 1480px){
            font-size: 18px;
        }
    }
    .header__buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 34px;
        @media (max-width: 1480px){
            //flex-direction: column;
            gap: 15px;
        }
        .button__login{
            border: 2px solid $white;
            background-color: $black;
            color: $white;
            border-radius: 555px;
            width: 165px;
            height: 49px;
            font-family: $rbsmbld;
            font-size: 26px;
            cursor: pointer;
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.1);
            }
            @media (max-width: 1480px){
                width: 110px;
                height: 33px;
                font-family: $rbsmbld;
                font-size: 18px;
            }
        }
        .button__signup{
            background-color: $salat;
            border: 2px solid $salat;
            color: $black;
            border-radius: 555px;
            width: 165px;
            height: 49px;
            font-family: $rbsmbld;
            font-size: 26px;
            cursor: pointer;
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.1);
            }
            @media (max-width: 1480px){
                width: 110px;
                height: 33px;
                font-family: $rbsmbld;
                font-size: 18px;
            }
        }
    }
}