.hero-wrapper{
    background-color: black;
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 950px;
    //width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
}

.hero{
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    gap: 186px 69px;
    grid-template-areas: "card cardphoto"
                        "backedby cardphoto";
    @media (max-width: 1600px){
        grid-template-areas: "card ."
                            "cardphoto ."
                            "backedby .";
    }
}

.card{
    grid-area: card;
    margin-top: 66px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:14px;
    &__title{
        color: $white;
        font-family: $rbsmbld;
        font-size: 95px;
    }
    &__sub{
        color: $white;
        font-family: $robmed;
        font-size: 24px;
    }
    .CTA__buttons{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:33px;
    .account__button{
        .account{
            border-radius: 11111px;
            border: 2px solid $salat;
            color: $darkengreen;
            background-color: $salat;
            width: 303px;
            height: 74px;
            font-family: $rbsmbld;
            font-size: 28px;
            cursor: pointer;
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .tutorial__button{
        .tutorial{
            padding-left: 8px;
            display: flex;
            gap: 11px;
            align-items: center;
            border-radius: 11111px;
            border: 2px solid $white;
            color: $darkengreen;
            background-color: $white;
            width: 303px;
            height: 74px;
            font-family: $rbsmbld;
            font-size: 28px;
            cursor: pointer;
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
}

.cardphoto{
    grid-area: cardphoto;
    position: relative;
    width: 723px;
    height: 690px;
    margin-top: 66px;
    display: grid;
    justify-content: flex-end;
    align-content: start;
    grid-template-columns: 357px 357px;
    grid-template-rows: 244px 436px;
    grid-template-areas: 
    "feedback stats"
    "lowercard .";
    min-height: 690px;
    gap: 10px 10px;
    &__feedback{
        grid-area: feedback;
        background-color: $sky;
        border-radius: 15px;
        font-family: $rbsmbld;
        padding-left: 35px;
        padding-top: 31px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;
        .stars{
            display: flex;
            align-items: center;
            gap: 13px;
            font-size: 80px;
        }
        .feedback{
            font-size: 32px;
            font-family: $robmed;
        }
    }
    &__stats{
        grid-area: stats;
        background-image: url(/img/stats.png);
        border-radius: 15px;
        padding-top: 24px;
        padding-right: 17px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 14px;
        .users{
            font-family: $robmed;
            font-size: 36px;
            color: $white;
        }
        .countusers{
            font-family: $rbsmbld;
            font-size: 80px;
            color: $salat;
        }
    }
    &__lowercard{
        grid-area: lowercard;
        .cardphoto__backgroundcard{
            border-radius: 15px;
            height: 436px;
            width: 723px;
            z-index: 0;
        }
        .cardphoto__person{
            position: absolute;
            z-index: 10;
            top: 2px;
            left: 45px;

        }
        .cardphoto__diagramm{
            position: absolute;
            z-index: 100;
            right: 55px;
            bottom: 35px;
        }
    }
}

.backedby{ 
    grid-area: backedby;
    display: flex;
    flex-direction: column;
    gap: 46px;
    font-family: $rbsmbld;
    color: $white;
    &__title{
        font-size: 26px;
    }
    &__list{
        display: flex;
        align-items: flex-start;
        &__items{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 96px;
            font-size: 32px;
            &__item{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 11px;
            }
        }
    }
}