.hero{
    background-color: black;
    background-image: url(/img/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 950px;
    width: 100%;
}

.nav{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .bankname{
        display: flex;
        flex-direction: row;
        //align-items: center;
        //justify-content: space-between;
        font-family: $robld;
        font-size: 34px;
        color: white;
    }
}
