.insight{
    padding: 65px 120px;
    background-color: $white;
    background-image: url(/img/Background-insight.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 29px;
}

.insight__title{
    &__label{
        font-family: $rbsmbld;
        font-size: 80px;
        color: $black;
    }
}

%card-base{
    @include cardflex;
    width: 100%;
    min-width: 399px;
    //max-width: 499px; по желанию настроить потом надобно когда адаптив делать буду
    min-height: 529px;
    border-radius: 15px;
}

.insight__cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    &__card1{
        @extend %card-base;
        background-color: $black;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
        gap: 54px;
        &__label{
            text-align: center;
            @include gradient-text;
            font-family: $IntBold;
            font-size: 40px;
        }
        &__lower{
            background: linear-gradient(90deg, #bf0 0%, #709900 100%);
            @include gradient-text;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            gap: 5px;
            font-family: $IntBold;
            font-size: 40px;
        }
    }
    &__card2{
        @extend %card-base;
        gap: 42px;
        background-color: $white;
        color: $black;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        &__label{
            text-align: center;
            color: $black;
            font-family: $IntBold;
            font-size: 40px;
        }
    }
    &__card3{
        @extend %card-base;
        gap: 20px;
        background-color: $white;
        color: $black;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        &__label{
            font-family: $IntBold;
            font-size: 40px;
            text-align: center;
        }
        &__desc{
            font-family: $robmed;
            font-size: 24px;
            text-align: center;
        }
    }
}