.product{
    padding: 33px 120px;
    background-color: $white;
    background-image: url(/img/Background-insight.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 29px;
    @media (max-width: 1480px){
        justify-content: center;
    }
}

.product{
    &__container{
        &__list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 90px;
            color: $black;
            @media (max-width: 1600px){
                flex-direction: column;
            }
            &__item{
                @include cardflex;
                width: 100%;
                //min-width: 399px;
                padding: 56px 21px;
                gap: 11px;
                border-radius: 15px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
                background-color: $white;
                @media (max-width: 1600px){
                    max-width: 1274px;
                    //width: 100%;
                }
                &__label{
                    font-family: $robmed;
                    font-size: 32px;
                    text-align: center;
                }
                &__desc{
                    font-family: $robrg;
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
    }
}