.testimonial{
    padding: 46px 120px;
    background-color: $white;
    background-image: url(/img/Background-insight.png);
    background-size: contain;
    &__container{
        display: flex;
        flex-direction: column;
        gap: 33px;
        @media (max-width: 1600px){
            gap: 18px;
        }
    }
}

.left-button{
    border-radius: 100%;
    fill: $white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    height: 93px;
    width: 93px;
}

.left-button:disabled, .right-button:disabled {
    background: #e0e0e0;
}
.right-button{
    border-radius: 100%;
    fill: $white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    height: 93px;
    width: 93px;
}

.testimonial__container__carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 578px;
    @media (max-width: 1600px){
        height: 332px;
    }
}

.testimonial__container__feedback {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(100%);
}

.testimonial__container__feedback.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
    opacity: 1;
    transform: translateX(0);
}

.testimonial__container__feedback.slide-next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
    opacity: 0;
    transform: translateX(100%);
}

.testimonial__container__feedback.slide-prev {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
    opacity: 0;
    transform: translateX(-100%);
}

.testimonial__container{
    &__buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__textbox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        //gap: 245px;
        &__ptext{
            font-family: $ismldbld;
            font-size: 24px;
        }
    }
    &__feedback{
        &__avatar{
            max-height: 578px;
            height: 100%;
            &__photo{
                border-radius: 15px;
                @media (max-width: 1600px){
                    //max-width: 490px;
                    //max-height: 499px;
                    height: 332px;
                    width: 338px;
                }
            }
        }
        &__card{
            overflow: hidden;
            padding: 62px 62px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 94px;
            background-color: $black;
            color: $white;
            max-width: 1047px;
            height: 578px;
            width: 100%;
            border-radius: 15px;
            @media (max-width: 1600px){
                    height: 332px;
                    gap: 50px;
                    //height: 100%;
                    //width: 100%;
            }
            .feedback-text{
                font-family: $isreg;
                font-size: 36px;
                @media (max-width: 1600px){
                    font-size: 18px;
                }
            }
            .feedback-description{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
                &__client{
                    display: flex;
                    flex-direction: column;
                    &__name{
                        font-family: $ismldbld;
                        font-size: 28px;
                        @media (max-width: 1500px){
                            font-size: 16px;
                        }
                    }
                    &__state{
                        font-family: $ismed;
                        font-size: 24px;
                        @media (max-width: 1500px){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}